body {
    font-family: Arial, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa; 
    padding: 10px 20px;
}
.logo img {
    max-width: 50px;
    height: auto;
    display: block; 
    margin: 0 auto;
}
.header .text{
    color: #ff7300;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 26px;
    margin: 10px 20px;
    padding: 10px 20px;
    flex-grow: 1;
}

.header .button-header button{
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    background-color: #ff7300;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.header .button-header button:hover {
    background-color: #d37d55;
}
.content{
    margin-top: 15px;
    padding: 10px 20px;
}


form label {
    display: block;
    margin-top: 10px;
}

form input {
    margin-top: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    padding: 10px;
    text-align: left;
    color: #ff9900;
}
td{
    padding: 10px;
    text-align: left;
    button{
        background-color: #ff9900;
        border-radius: 3px;
        border:none;
        margin: 1px;
        width:50px
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
  }
  
  .head-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  /* Close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 38px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
  }
  
  /* Form and image container */
  .bottom-modal {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  /* Form styling */
  .left-box {
    flex: 1;
    margin-right: 20px;
  }
  
  .left-box label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
  }
  
  .left-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .left-box button {
    background-color: #ff9900;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .left-box button:hover {
    background-color: rgb(224, 170, 120);
  }
  
  /* Image styling */
  .right-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right-box img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
  }
  
  .close-edit {
    color: #aaa;
    float: right; 
    font-size: 38px;
    font-weight: bold;
  }
  
  .close-edit:hover,
  .close-edit:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
  }
