/* Button Add Student Styles */
.button-add-student {
  position: relative;
}

.button-add-student button {
  background-color: #f07d11;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button-add-student button:hover {
  background-color: #ee9e09;
}

/* Modal Styles */
.modal-add-student {
  position: fixed;
  width: 70%;
  height: 60%;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-add-student .modal-add-student {
  left: 25%;
  background-color: white;
  border-radius: 8px;
  width: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-add-student .head-modal {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-add-student .head-modal h2 {
  margin: 0;
  color: #ee9e09;
  align-items: center;
}

.modal-add-student .close {
  font-size: 24px;
  cursor: pointer;
}

.modal-add-student .bottom-modal {
  margin-top: 20px;
  
}

.modal-add-student form {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.modal-add-student label {
  margin-bottom: 5px;
}

.modal-add-student input,
.modal-add-student select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal-add-student button {
  background-color: #ee9e09;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  font-size: 26px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.modal-add-student button:hover {
  background-color: #c98940;
}

/* List Student Styles */
.list-student {
  padding: 20px;
}

#students-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#students-table th,
#students-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#students-table th {
  background-color: #c98940;
  color: white;
}

#students-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

#students-table tr:hover {
  background-color: #f1f1f1;
}

.button-edit-student {
  background-color: #ffc107;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button-edit-student:hover {
  background-color: #e0a800;
}

/* Edit Student Modal Styles */
#editStudentModal {
  top: 30%;
  left: 35%;
  display: none;
  position: fixed;
  width: 70%;
  height: 60%;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-edit-student {
  padding: 10px 20px;
  background-color: white;
  border-radius: 8px;
  width: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-edit-student .head-modal {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-edit-student .head-modal h2 {
  margin: 0;
  color: #c98940;
}

.modal-edit-student .close-edit {
  font-size: 24px;
  cursor: pointer;
}

.modal-edit-student .bottom-modal {
  margin-top: 18px;
}

.modal-edit-student form {
  display: flex;
  flex-direction: column;
}

.modal-edit-student label {
  margin-bottom: 5px;
}

.modal-edit-student input,
.modal-edit-student select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal-edit-student button {
  background-color: #eca240;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.modal-edit-student button:hover {
  background-color: #df9550;
}
